<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Panel</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css')}}"
        />
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li> 
                <li><a href="/shop">Shop</a></li> 
                <li><a href="/blog">Blog</a></li> 
                <li><a href="/services">Services</a></li> 
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Admin Panel</h1>
            <h2>Existing Products</h2>
            <div class="product-grid">
                {% for product in products %}
                <div class="product-card">
                    <img
                        class="product-image"
                        src="{{ product.image_url }}"
                        alt="{{ product.name }}"
                    />
                    <div class="product-info">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <p class="product-description"> 
                            {{ product.description }}
                        </p>
                        <div class="product-price">{{ product.price }}$</div>
                        <a href="/edit/{{ product.id }}" onclick="" class="cta-button">Изменить</в>
                        <a href="/delete/{{ product.id }}" class="cta-button">Удалить</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <form method="POST" action="/admin" class="form-container">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input
                        type="text"
                        id="description"
                        name="description"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" id="price" name="price" required />
                </div>

                <div class="form-group">
                    <label for="image_url">Image Url</label>
                    <input type="text" id="image_url" name="image_url" />
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </body>
</html>
