<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Panel</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css')}}"
        />
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Edit Page</h1>
            <h2>You are editing {{ product["id"] }}</h2>
            <form method="POST" action="/admin" class="form-container">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        value="{{ product['name'] }}"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input
                        type="text"
                        id="description"
                        name="description"
                        value="{{ product['description'] }}"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input
                        type="text"
                        id="price"
                        name="price"
                        value="{{ product['price'] }}"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="image_url">Image Url</label>
                    <input
                        type="text"
                        id="image_url"
                        name="image_url"
                        value="{{ product['image_url'] }}"
                    />
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </body>
</html>
