<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css')}}"
        />
        <title>Вход</title>
    </head>
    <body>
        <div class="container" id="login-container">
            <h2>Вход</h2>
            <form method="POST">
                <input
                    type="text"
                    id="login-user"
                    placeholder="Имя пользователя"
                />
                <input type="password" id="login-pass" placeholder="Пароль" />
                <button onclick="login()">Войти</button>
            </form>
        </div>

        <script src="login.js"></script>
    </body>
</html>
