<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Random Number Generator</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css')}}"
        />
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
        <main>
            <div class="container">
                <h1>Your random number is:</h1>
                <div class="number">{{ number }}</div>
                <p>Refresh the page to generate a new random number!</p>
            </div>
        </main>
    </body>
</html>
