<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css')}}"
        />
        <title>Регистрация</title>
    </head>
    <body>
        <div class="container" id="register-container">
            <h2>Регистрация</h2>
            <form method="POST">
                <input
                    type="text"
                    id="reg-user"
                    placeholder="Имя пользователя"
                />
                <input type="email" id="reg-email" placeholder="Email" />
                <input type="password" id="reg-pass" placeholder="Пароль" />
                <button onclick="register()">Зарегистрироваться</button>
            </form>
        </div>

        <script src="register.js"></script>
    </body>
</html>
